@import "govuk-elements";
@import "~govuk_template_jinja/assets/stylesheets/govuk-template.css";
@import "~govuk_template_jinja/assets/stylesheets/fonts.css";


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
